* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-y: hidden;
  padding: 10px;
}

/*Header*/
header ul {
  position: absolute;
  right: 10px;
  align-items: center;
  list-style: none;
  display: flex;
  font-size: 1.3rem;
}
header i {
  font-size: 2rem;
  margin: 0.5rem;
}
header li {
  margin: 0.8rem;
  font-weight: 500;
}
header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/*Main*/
main {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.container {
  margin: auto 0;
  width: 25%;
}
.container img {
  width: 100%;
}
.search img {
  width: 15px;
}
form i {
  font-size: 1.4rem;
}

.search input{
    width: 150%;
}